# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Media files
/media/

# Environment variables
.env

# Virtual environment
venv/
env/

# VS Code
.vscode/

# Static collected files
staticfiles/pravaah_data.sql
pravaah_data_ignore_duplicates.sql
pravaah_server_backup.sql
